<h1>ruby appが初期化されました。</h1>

<p><a href="/link" id="get-link">link</a></p>
<p><a href="/fetch">fetch test</a></p>

<div>
  <form action="/form-submit" method="put">
    <input name="value1" />
    <input type="submit" value="submit1">
  </form>
</div>

<div>
  <form action="/destroy" method="delete">
    <label>
      <input type="checkbox" data-bormashino-submit-on="click" id="checkbox1">
      click to submit the 2nd form
    </label>
    <p>"data-bormashino-submit-on" enables you to submit the parent form with the event.</p>
  </form>
</div>
