<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form action="/" method="post">
      <input class="new-todo" placeholder="What needs to be done?" autofocus="" name="new-todo">
    </form>
  </header>

  <% if @todos.size > 0 %>
    <section class="main">
      <form action="/todos/all" method="PUT">
        <input type="hidden" name="toggle-all" value="false">
        <input
          class="toggle-all"
          data-bormashino-submit-on="change"
          name="toggle-all"
          id="toggle-all"
          type="checkbox"
          value="true"
          <% if @todos.all?(&:completed) %>checked<% end %>>
        <label for="toggle-all">Mark all as complete</label>
      </form>

      <ul class="todo-list">
        <% @todos.each do |todo| %>
          <%= erb(:todo, locals: {todo: todo}, layout: false) %>
        <% end %>
      </ul>
    </section>

    <footer class="footer">
      <span class="todo-count"><strong><%= @remaining_count %></strong> items left</span>
      <ul class="filters">
        <li>
          <a href="/" <% if request.path_info == '/' %>class="selected"<% end %>>All</a>
        </li>
        <li>
          <a href="/active" <% if request.path_info == '/active' %>class="selected"<% end %>>Active</a>
        </li>
        <li>
          <a href="/completed" <% if request.path_info == '/completed' %>class="selected"<% end %>>Completed</a>
        </li>
      </ul>
      <button class="clear-completed" style="display: none;"></button>
    </footer>
  <% end %>
</section>
