name: Gem

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.0-preview1
          bundler-cache: true
      - name: Run the default task
        run: (cd gem && bundle exec rake)
